
.error-main {
    padding: 60px 20px;
}

.titulo-error {
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.subtitulo-error {
    font-size: 30px;
    color: #000508;
    margin-bottom: 20px;
}

.mensaje-error p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.mensaje-error img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 350px;
}

.boton-volver {
    display: inline-block;
    padding: 12px 25px;
    background-color: #1e6aa8; 
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.boton-volver:hover {
    background-color: #144a75;
}
