
main {
    padding: 3%;
    text-align: center; 
}

.confirmacion-mensaje {
    width: 90%;
    max-width: 750px;
    margin: 2% auto;
    background-color: #d8eef7;
    padding: 5%; 
    border-radius: 10px;
      box-sizing: border-box;
}


.confirmacion-mensaje h2 {
    color: #0a2f5c;
        margin-bottom: 20px;
    font-size: 2rem;
}

.confirmacion-mensaje p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.6;
}


.boton-volver {
    display: inline-block;
    padding: 0.8em 2em;
    background-color: #0a2f5c;
    color: white;
    font-weight: bold;
    text-decoration: none;
      border-radius: 8px;
    font-size: 1rem;
     transition: background-color 0.3s;
}
.boton-volver:hover {
    background-color: #08406f;
}

footer {
    padding: 20px;
    text-align: center;
}
