body {
    margin: 0;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #8bc5e2; 
    text-align: center;
    color: black;
}



h1, h2, h3 {
    font-weight: 700;
}
header {
    background-color: #0a2f5c; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 80px;
    height: auto;
}

.navegacion a {
    color: rgb(251, 125, 35); 
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

.navegacion a:hover {
    text-decoration: underline;
    color: rgb(255, 160, 80);
}


main {
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
}


footer {
    padding: 10px 0;
    width: 100%;
    background-color: #0a2f5c;
    color: white;
}

.redes a {
    color: rgb(251, 125, 35);
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

.redes a:hover {
    text-decoration: underline;
    color: rgb(255, 160, 80);
}

