section {
    padding: 30px 20px;
    margin-bottom: 40px;
    background-color: rgb(176, 212, 245); 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

section img {
    display: block;
    margin: 0 auto 25px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

section img:hover {
    transform: scale(1.02); 
}
