.sinVinieta {
    list-style: none;
}

#reparto {
    margin: 2% auto; 
    width: 95%;      
    max-width: 1200px;
    text-align: center;
}

.reparto-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 2%;     
    padding: 2%;    
}

.actor {
    display: flex;
    background-color: #b9c7e0; 
    flex-direction: column;
    align-items: center;
    
    width: 28%; 
    min-width: 250px; 
    padding: 1%; 
    border-radius: 10px; 
    border: 1px solid rgba(69, 5, 198, 0.2);
    transition: transform 0.5s, background-color 0.5s;
    box-sizing: border-box; 
}

.actor:hover {
    transform: scale(1.05);
    background-color: rgba(6, 82, 213, 0.4);
}

.actor img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 6%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    filter: grayscale(10%);
    transition: filter 0.5s;
}

